/validator_reports/**
/validator_config/validator.local.conf
/transmitter_source/**
/tranmitter_sent_messages/**
/simulator_saved_messages/**
/messages_for_validation/**
/simulator_config/test_tks_rule_config.local.txt
/logs/**
/all_evidence/**
/certs/**
/tkw-x_cleartext.local.properties
/set-all-configurations.local.sh
